html {
  font-size: 14px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
  height: 84vh;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.home-animation {
  width: 300px;
  height: 300px;
}

.home-menu-item {
  position: relative;
  height: 50px;
  width: 200px;
  transition: height 0.5s ease;
  overflow: hidden;
}

.text-main {
  position: absolute;
  top: 24px;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  z-index: 2;
  text-align: left;
  white-space: nowrap;
}

.extra-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.extra-text {
  display: block;
  font-size: 14px;
  color: white;
}

.home-menu-link:hover .home-menu-item {
  height: 100px;
}

.home-menu-link:hover .extra-content {
  opacity: 1;
}


.selected {
  border: 3px solid green;
}
.new-game-section a {
  width: 100%;
}
.new-game-section button {
  width: 100%;
}

.load-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow-y: scroll;
}

/*Game*/

:root {
  --cell-size: 80px;
  --negative-cell-size: -80px;
}

@media (max-width: 768px) {
  :root {
    --cell-size: 60px;
    --negative-cell-size: -60px;
  }
}

@media (max-width: 480px) {
  :root {
    --cell-size: 40px;
    --negative-cell-size: -40px;
  }
}

.board {
  position: relative;
  margin: var(--cell-size);
  margin-top: calc(var(--cell-size) + 20px);
}

.movable-grid {
  position: relative;
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  z-index: 10;
  transition: left 0.5s ease, top 0.5s ease;
}

.move-btn {
  position: absolute;
  z-index: 10;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

.move-up {
  top: var(--negative-cell-size);
  left: 50%;
  transform: translateX(-50%);
}

.move-right {
  right: var(--negative-cell-size);
  top: 50%;
  transform: translateY(-50%);
}

.move-down {
  bottom: var(--negative-cell-size);
  left: 50%;
  transform: translateX(-50%);
}

.move-left {
  left: var(--negative-cell-size);
  top: 50%;
  transform: translateY(-50%);
}

.move-up-left {
  top: var(--negative-cell-size);
  left: var(--negative-cell-size);
}

.move-up-right {
  top: var(--negative-cell-size);
  right: var(--negative-cell-size);
}

.move-down-left {
  bottom: var(--negative-cell-size);
  left: var(--negative-cell-size);
}

.move-down-right {
  bottom: var(--negative-cell-size);
  right: var(--negative-cell-size);
}
.move-btn::before {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}












