@page
@model WebApp.Pages_Games.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>GameStateDB</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameStateDB.StateName" class="control-label"></label>
                <input asp-for="GameStateDB.StateName" class="form-control" />
                <span asp-validation-for="GameStateDB.StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.GameConfigJson" class="control-label"></label>
                <input asp-for="GameStateDB.GameConfigJson" class="form-control" />
                <span asp-validation-for="GameStateDB.GameConfigJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.BoardJson" class="control-label"></label>
                <input asp-for="GameStateDB.BoardJson" class="form-control" />
                <span asp-validation-for="GameStateDB.BoardJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.ChipsLeftJson" class="control-label"></label>
                <input asp-for="GameStateDB.ChipsLeftJson" class="form-control" />
                <span asp-validation-for="GameStateDB.ChipsLeftJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.GridX" class="control-label"></label>
                <input asp-for="GameStateDB.GridX" class="form-control" />
                <span asp-validation-for="GameStateDB.GridX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.GridY" class="control-label"></label>
                <input asp-for="GameStateDB.GridY" class="form-control" />
                <span asp-validation-for="GameStateDB.GridY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameStateDB.PlayerNumber" class="control-label"></label>
                <input asp-for="GameStateDB.PlayerNumber" class="form-control" />
                <span asp-validation-for="GameStateDB.PlayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
