@page "/download"

<main role="main" class="pb-3">
    <div class="container">
        <h1>Want to play offline the cutest console version?</h1>
        <p>Click download below (for now it doesn't work on mobile. ONLY PC!)</p>
        <p>For now it's maybe not that easy, but sooner i will figure out. So you need to unzip folder and then run .exe file</p>
        <a class="btn btn-primary" href="~/download/Tic-tac-two Console.zip" download>Download</a>
    </div>
</main>


@code {
    
}