@page "/download"

<main role="main" class="pb-3">
    <div class="container">
        <h1>Want to play offline the cutest console version?</h1>
        <p>Download the PC version below. After downloading, unzip the folder and run the .exe file</p>
        
        <a class="btn btn-primary" href="download/Tic-Tac-Two-Console.zip" download="Tic-Tac-Two-Console.zip">
            Download Now
        </a>
    </div>
</main>