@page "/"
@using Microsoft.AspNetCore.Authorization
@using Client.Components.Menu
@attribute [Authorize]

<PageTitle>Menu</PageTitle>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" asp-page-handler="Connect">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Game Id to connect</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="sessionId" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container h-100">
  <div class="row left-panel h-100">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex flex-column new-game-section mt-5">
      @if (showMainOptions)
      { 
          <div class="@mainOptionsClass">
              <MainOptions OnNewGame="HandleNewGameClick" OnLoadGame="HandleLoadGame" />
          </div>
      }
      @if (showNewGame)
      {
          <div class="@newGameClass">
              <NewGame OnMainOptions="HandleMainOptionsClick" />
          </div>
      }
      @if (showLoadGame)
      {
        <div class="@loadGameClass">
             <LoadGame OnMainOptions="HandleMainOptionsClick" />
        </div>
      }
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 d-flex align-items-center justify-content-center">
      <img src="img/animation.gif" alt="animation">
    </div>
  </div>
</div>

@code {
  private bool showMainOptions = true;
  private bool showNewGame = false;
  private bool showLoadGame = false;

  private string mainOptionsClass = "fade-in";
  private string newGameClass = "fade-in hidden";
  private string loadGameClass = "fade-in hidden";

  private async Task HandleMainOptionsClick()
  {
    newGameClass = "fade-out";
    await Task.Delay(300);
    showNewGame = false;
    showMainOptions = true;
    mainOptionsClass = "fade-in";
  }
  
  private async Task HandleNewGameClick()
  {
    mainOptionsClass = "fade-out";
    await Task.Delay(300);
    showMainOptions = false;
    showNewGame = true;
    newGameClass = "fade-in";
  }

  private async Task HandleLoadGameClick()
  {
    mainOptionsClass = "fade-out";
    await Task.Delay(300);
    showMainOptions = false;
    showLoadGame = true;
    loadGameClass = "fade-in";
  }
}