@page
@model WebApp.Pages.LoadGame

<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post">
                <h1>Select Game Session:</h1>
                <div class="load-game-container">
                    @foreach (var stateDto in Model.Games)
                    {
                        <input type="radio" class="btn-check" asp-for="SessionId"
                               id="game-@stateDto.SessionId" value="@stateDto.SessionId" autocomplete="off">
                        <label class="btn" for="game-@stateDto.SessionId">@stateDto.StateName</label>
                    }
                </div>

                <div class="col-12 mt-5">
                    <button type="submit" class="btn btn-primary">Start Game</button>
                </div>
            </form>
        </div>
        
        <div class="col-8 d-flex align-items-center justify-content-center">
            <img src="img/animation.gif" alt="animation" id="home-animation">
        </div>
    </div>
</div>