@page
@model WebApp.Pages.LoadGame

<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post" class="container h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    @foreach (var stateDto in Model.Games)
                    {
                        <div class="col-12">
                            <input type="radio" class="btn-check" asp-for="GameId" 
                                   id="game-@stateDto.Id" value="@stateDto.Id" autocomplete="off">
                            <label class="btn" for="game-@stateDto.Id">@stateDto.Name</label>
                        </div>
                    }

                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-primary">Start Game</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-8 d-flex align-items-center justify-content-center">
            <img src="img/animation.gif" alt="animation" id="home-animation">
        </div>
    </div>
</div>