@page
@model WebApp.Pages.NewGame

<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post" class="container h-100 d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <h3>Choose Game Mode:</h3>
                    <div class="col-6 mb-3">
                        <input type="radio" class="btn-check" asp-for="GameMode" id="two-players" value="two-players" autocomplete="off" checked>
                        <label class="btn" for="two-players">Two Player, One Pc</label>

                        <input type="radio" class="btn-check" asp-for="GameMode" id="vs-ai" value="vs-ai" autocomplete="off">
                        <label class="btn" for="vs-ai">You vs AI</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="btn-check" asp-for="GameMode" id="ai-vs-ai" value="ai-vs-ai" autocomplete="off">
                        <label class="btn" for="ai-vs-ai">AI vs AI</label>

                        <input type="radio" class="btn-check" asp-for="GameMode" id="connect" value="connect" autocomplete="off" disabled>
                        <label class="btn" for="connect">Connect to game</label>
                    </div>
                    <h3>Choose Game Configuration:</h3>
                    @foreach (var configDto in Model.GameConfigs)
                    {
                        <div class="col-12">
                            <input type="radio" class="btn-check" asp-for="ConfigId" id="@configDto.Id" value="@configDto.Id" autocomplete="off">
                            <label class="btn" for="@configDto.Id">@configDto.Name</label>
                        </div>
                    }
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-primary">Start Game</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-8 d-flex align-items-center justify-content-center">
            <img src="img/animation.gif" alt="animation" id="home-animation">
        </div>
    </div>
</div> 
