@page
@model WebApp.Pages_Configs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameConfiguration.Id" />
            <div class="form-group">
                
                <label asp-for="GameConfiguration.Name" class="control-label"></label>
                <input asp-for="GameConfiguration.Name" class="form-control" />
                <span asp-validation-for="GameConfiguration.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.BoardSizeWidth" class="control-label"></label>
                <input asp-for="GameConfiguration.BoardSizeWidth" class="form-control" />
                <span asp-validation-for="GameConfiguration.BoardSizeWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.BoardSizeHeight" class="control-label"></label>
                <input asp-for="GameConfiguration.BoardSizeHeight" class="form-control" />
                <span asp-validation-for="GameConfiguration.BoardSizeHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.MovableBoardWidth" class="control-label"></label>
                <input asp-for="GameConfiguration.MovableBoardWidth" class="form-control" />
                <span asp-validation-for="GameConfiguration.MovableBoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.MovableBoardHeight" class="control-label"></label>
                <input asp-for="GameConfiguration.MovableBoardHeight" class="form-control" />
                <span asp-validation-for="GameConfiguration.MovableBoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.ChipsCount" class="control-label"></label>
                <input asp-for="GameConfiguration.ChipsCount" class="form-control" />
                <span asp-validation-for="GameConfiguration.ChipsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.WinCondition" class="control-label"></label>
                <input asp-for="GameConfiguration.WinCondition" class="form-control" />
                <span asp-validation-for="GameConfiguration.WinCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfiguration.OptionsAfterNMoves" class="control-label"></label>
                <input asp-for="GameConfiguration.OptionsAfterNMoves" class="form-control" />
                <span asp-validation-for="GameConfiguration.OptionsAfterNMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
