@page
@model WebApp.Pages.Download

@{
    ViewData["Title"] = "Download";
    ViewData["css-page"] = "download.css";
    ViewData["Username"] = $"Welcome back, {Model.Username}";
}

<main role="main" class="pb-3">
    <div class="container">
        <h1>Want to play offline the cutest console version?</h1>
        <p>Click download below (for now it doesn't work on mobile. ONLY PC!)</p>
        <a class="btn btn-primary" href="~/downloads/tic-tac-two.zip" download>Download</a>
    </div>
</main>
