@page
@model WebApp.Pages.Home
@{
    ViewData["Title"] = "Home";
    ViewData["css-page"] = "home.css";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Home">Tic Tac Two</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Download">Download (Console version)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Configs/Index">About this project</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center ms-auto gap-3">
                    <b>Welcome back, @Model.Username</b>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Profile">
                        <button class="btn btn-primary"><i class="fa-solid fa-user"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pb-3">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-page-handler="Connect">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Game Id to connect</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="sessionId" class="form-control" placeholder="Type here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="row left-panel">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex flex-column h-100 new-game-section mt-5">
                <div class="container">
                    <div class="row">
                        <a asp-page="/NewGame" class="home-menu-link col-6 col-sm-6 col-md-12 col-lg-12">
                            <button class="home-menu-item btn btn-primary mb-2">
                                <span class="text-main">New Game</span>
                                <div class="extra-content">
                                    <span class="extra-text">Start new game with any modes and configs</span>
                                </div>
                            </button>
                        </a>
                        <a asp-page="/LoadGame" class="home-menu-link col-6 col-sm-6 col-md-12 col-lg-12">
                            <button class="home-menu-item btn btn-primary mb-2">
                                <span class="text-main">Load Game</span>
                                <div class="extra-content">
                                    <span class="extra-text">Load saved game to continue your game</span>
                                </div>
                            </button>
                        </a>
                        <a class="home-menu-link col-6 col-sm-6 col-md-12 col-lg-12">
                            <button type="button" class="home-menu-item btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <span class="text-main">Connect to Game</span>
                                <div class="extra-content">
                                    <span class="extra-text">Connect to game via session id</span>
                                </div>
                            </button>
                        </a>
                        <a asp-page="GameConfigs" class="home-menu-link col-6 col-sm-6 col-md-12 col-lg-12">
                            <button class="home-menu-item btn btn-primary mb-2">
                                <span class="text-main">Game Configurations</span>
                                <div class="extra-content">
                                    <span class="extra-text">Create or edit configs. Make your own game</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 d-flex align-items-center justify-content-center">
                <img src="img/animation.gif" width="400" height="400" alt="animation" id="home-animation">
            </div>
        </div>
    </div>
</main>
