@page
@model RegisterModel
@{
ViewData["Title"] = "Create Account";
}

<h1>Create Account</h1>
<form method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" required>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" required>
    <label for="password-retype">Retype password:</label>
    <input id="password-retype" name="password" type="password" required>
    <button type="submit">Register</button>
</form>
<p>@Model.Message</p>
