@page
@model WebApp.Pages_Configs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GameConfigurationDB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameConfigurationDB.Id" />
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.Name" class="control-label"></label>
                <input asp-for="GameConfigurationDB.Name" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.BoardSizeWidth" class="control-label"></label>
                <input asp-for="GameConfigurationDB.BoardSizeWidth" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.BoardSizeWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.BoardSizeHeight" class="control-label"></label>
                <input asp-for="GameConfigurationDB.BoardSizeHeight" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.BoardSizeHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.MovableBoardWidth" class="control-label"></label>
                <input asp-for="GameConfigurationDB.MovableBoardWidth" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.MovableBoardWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.MovableBoardHeight" class="control-label"></label>
                <input asp-for="GameConfigurationDB.MovableBoardHeight" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.MovableBoardHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.ChipsCountSerialized" class="control-label"></label>
                <input asp-for="GameConfigurationDB.ChipsCountSerialized" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.ChipsCountSerialized" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.WinCondition" class="control-label"></label>
                <input asp-for="GameConfigurationDB.WinCondition" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.WinCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="GameConfigurationDB.MovePieceAfterNMoves" class="control-label"></label>
                <input asp-for="GameConfigurationDB.MovePieceAfterNMoves" class="form-control" />
                <span asp-validation-for="GameConfigurationDB.MovePieceAfterNMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
