@page "/configs"
@using System.Net.Http.Headers
@using Shared.GameConfigDtos
@inject HttpClient Http
@inject IJSRuntime JS
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="container">
    <div class="row">
        <div class="col-3 mb-5">
            <button type="button" @onclick="OnMainOptions" class="btn btn-primary">Back</button>
        </div>
    </div>
    @if (ConfigList == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <h3>Available Configurations</h3>
        <ul class="list-group mb-4">
            @foreach (var config in ConfigList)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>@config.Name</strong>
                    <div class="d-flex flex-row gap-2">
                        <button class="btn btn-info btn-sm text-white" @onclick="() => OpenModal(config)">View</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteConfiguration(config.Id)">Delete</button>
                    </div>
                </li>
            }
        </ul>
    }
    <h3>Create New Configuration</h3>
    <EditForm Model="_newConfigDto" OnValidSubmit="CreateConfiguration">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label class="form-label">Configuration Name</label>
            <InputText class="form-control" @bind-Value="_newConfigDto.Name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Board Width</label>
            <InputNumber class="form-control" @bind-Value="_newConfigDto.BoardSizeWidth" />
        </div>
        <div class="mb-3">
            <label class="form-label">Board Height</label>
            <InputNumber class="form-control" @bind-Value="_newConfigDto.BoardSizeHeight" />
        </div>
        <div class="mb-3">
            <label class="form-label">Win Condition</label>
            <InputNumber class="form-control" @bind-Value="_newConfigDto.WinCondition" />
        </div>
        <div class="mb-3">
            <label class="form-label">Options After N Moves</label>
            <InputNumber class="form-control" @bind-Value="_newConfigDto.OptionsAfterNMoves" />
        </div>
        <div class="mb-3">
            <label class="form-label">Chips Count</label>
            <InputNumber class="form-control" @bind-Value="_newConfigDto.Player1Chips" />
        </div>
        <button class="btn btn-primary" type="submit">Create Configuration</button>
    </EditForm>
</div>

@if (showEditModal)
{
<div class="modal-backdrop show"></div>
<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Configuration</h5>
                <button type="button" class="btn-close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="_editConfigDto" OnValidSubmit="UpdateConfiguration">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <input type="hidden" @bind="_editConfigDto.Id" />

                    <div class="mb-3">
                        <label class="form-label">Configuration Name</label>
                        <InputText class="form-control" @bind-Value="_editConfigDto.Name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Board Width</label>
                        <InputNumber class="form-control" @bind-Value="_editConfigDto.BoardSizeWidth" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Board Height</label>
                        <InputNumber class="form-control" @bind-Value="_editConfigDto.BoardSizeHeight" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Win Condition</label>
                        <InputNumber class="form-control" @bind-Value="_editConfigDto.WinCondition" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Options After N Moves</label>
                        <InputNumber class="form-control" @bind-Value="_editConfigDto.OptionsAfterNMoves" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Chips Count (for both players)</label>
                        <InputNumber class="form-control" @bind-Value="_editConfigDto.Player1Chips" />
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
}

@code {
    [Parameter] public EventCallback OnMainOptions { get; set; }
    [Parameter] public List<GameConfigDto> ConfigList { get; set; }
    private Task OnNewGameClicked() => OnMainOptions.InvokeAsync();

    private GameConfigDto _newConfigDto = new();
    private GameConfigDto _editConfigDto = new();
    private bool showEditModal = false;
    
    private void OpenModal(GameConfigDto configDto)
    {
        _editConfigDto = configDto;
        showEditModal = true;
        StateHasChanged();
    }

    private void CloseModal()
    {
        showEditModal = false;
        StateHasChanged();
    }
    
    private async Task CreateConfiguration()
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        
        var response = await Http.PostAsJsonAsync("http://localhost:5192/api/game-configs", _newConfigDto);
        if (response.IsSuccessStatusCode)
        {
            var createdConfig = await response.Content.ReadFromJsonAsync<GameConfigDto>();
            if (createdConfig != null)
            {
                ConfigList.Add(createdConfig);
                _newConfigDto = new GameConfigDto();
            }
        }
        else
        {
            Console.WriteLine("Error creating config");
        }
    }

    private async Task UpdateConfiguration()
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        
        var response = await Http.PutAsJsonAsync($"http://localhost:5192/api/game-configs/{_editConfigDto.Id}", _editConfigDto);
        if (response.IsSuccessStatusCode)
        {
            var index = ConfigList.FindIndex(c => c.Id == _editConfigDto.Id);
            if (index >= 0)
            {
                ConfigList[index] = new GameConfigDto
                {
                    Id = _editConfigDto.Id,
                    Name = _editConfigDto.Name,
                    BoardSizeWidth = _editConfigDto.BoardSizeWidth,
                    BoardSizeHeight = _editConfigDto.BoardSizeHeight,
                    MovableBoardWidth = _editConfigDto.MovableBoardWidth,
                    MovableBoardHeight = _editConfigDto.MovableBoardHeight,
                    Player1Chips = _editConfigDto.Player1Chips,
                    Player2Chips = _editConfigDto.Player2Chips,
                    OptionsAfterNMoves = _editConfigDto.OptionsAfterNMoves,
                    WinCondition = _editConfigDto.WinCondition
                };
            }
            showEditModal = false;
            CloseModal();
        }
        else
        {
            Console.WriteLine("Error updating config");
        }
    }

    private async Task DeleteConfiguration(string configId)
    {
        var token = await localStorage.GetItemAsync<string>("accessToken");

        if (token != null)
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        }
        
        var response = await Http.DeleteAsync($"http://localhost:5192/api/game-configs/{configId}");
        if (response.IsSuccessStatusCode)
        {
            var index = ConfigList.FindIndex(c => c.Id == configId);
            if (index >= 0)
            {
                ConfigList.RemoveAt(index);
            }
        }
        else
        {
            Console.WriteLine("Error deleting config");
        }
    }
}
